version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8001:8000"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000